* {
	margin: 0; padding: 0;
	box-sizing: border-box;
	font-family: Tahoma, Arial;
}

a {
	text-decoration: none; 
}
.header {
	height: 80vh; width: 98.8vw;
	background: url('images/banner.jpg');
	background-attachment: fixed;
	background-size: cover;
}
.logo {
	float: left;
	margin: 5% 5%;
	letter-spacing: 3px;
	font-size: 150%;
	font-weight: 900;
}
.logo a, .nav-bar a {
	text-decoration: none;
	padding: 10px;
	color: #E0E4CC;
}
.nav-bar a:not(:last-child) {
	border-right: 3px solid #bdc3c7;
}
.nav-bar {
	font-size: 120%;
}
.nav-bar a:hover {
	color: #F6FAE8;
	background: rgba(255, 255, 247, .3);
	border-radius: 5%;
	transition: 0.7s;
}
.nav-bar li {
	display: inline-block;
	float: right;
	margin: 5% 10% 0% 0%;
}
.welcome h1, h3 {
	color: #F6FAE8;
	font-family: "Courier New", Courier, monospace;
	font-weight: 200;
	text-align: center;

}
.welcome h1 {
	padding: 5em 0 0 0;
	font-size: 300%;
}

.welcome h3 {
	padding: 3em 0 0 0;
}

/********************************/

.hero {
	height: 60vh; width: 98.8vw;
	background-color: #F6FAE8;
}
.hero li {
	display: inline-block;
	max-width: 25%;
	margin: 5% 0 0 6%;
}
.hero .one, .two {
	border-right: 1px solid #178CA6;
}
.hero h1 {
	color: #005F97;
	font-weight: 200;
	letter-spacing: .05em;
	line-height: 1.5em;
}
.hero p {
	font-family: "Courier New", Courier, monospace;
	color: #B8B6A6;
	margin-top: 10%;
	margin-bottom: 7%;
	font-weight: 200;
	letter-spacing: .05em;
	line-height: 1.5em;
}
.hero a{
	font-family: Alial;
	padding: 3% 5%;
	color: #F6FAE8;
	background-color: #005F97;
	border-radius: 3px;
}
.hero a:hover {
	background-color: #199EC7;
	transition: 0.7s;
}
/****************/

.ipsum {
	background: #5385c1;
	color: #bacee6;
	height: 100vh;
}
.ipsum h1, h3 {
	text-align: center;
}
.ipsum h1 {
	padding-top: 5%;
	font-size: 400%;
	font-weight: 200;
	color: #fff;
}
.ipsum h3 {
	margin-top: 2%;
	color: #bacee6;
}
.im-one h1, .im-two h1, .im-three h1, .im-four h1 {
	font-size: 200%;
	font-weight: 200;
	color: #fff;
}
.im-one h2, .im-two h2, .im-three h2, .im-four h2 {
	font-size: 150%;
	font-weight: 200;
	color: #bacee6;
	margin-top: 5%;
}
.ipsum .im-one ,.im-two, .im-three, .im-four{
	height: 55%;
	width: 17%;
	border: 1px solid #C8CDD2;
	text-align: center;
	display: inline-block;
	margin-left: 6%;
	margin-top: 3%;
}
.ipsum .im-one img,.im-two img, .im-three img, .im-four img{
	border-radius: 50%;
}
/*************************/

.nunc {
	background: #fff;
	color: #bacee6;
	height: 100vh;
}
.nunc h1, h3 {
	text-align: center;
}
.nunc h1 {
	padding-top: 5%;
	font-size: 400%;
	font-weight: 100;
	color: #5385c1;
}
.nunc h3 {
	margin-top: 2%;
	color: #bbb;
}

.nunc-one, .nunc-two {
	display: inline-block;
	width: 35%;
	margin: 3% 7% 5% 5%;
}
.nunc-one img, .nunc-two img {
	max-width: 130%;
	border-radius: 1%;
}

.nunc-one h2, .nunc-two h2 {
	color: #5385c1;
	letter-spacing: 0.1em;
	margin-top: 3%;
}

.nunc p {
	font-family: "Courier New", Courier, monospace;
	color: #B8B6A6;
	margin-top: 7%;
	margin-bottom: 7%;
	font-weight: 200;
	letter-spacing: .05em;
	line-height: 1.5em;
}

.nunc a{
	font-family: Arial;
	padding: 3% 5%;
	color: #F6FAE8;
	background-color: #005F97;
	border-radius: 3px;
}
.nunc a:hover {
	background-color: #199EC7;
	transition: 0.7s;
}
