* {
	margin: 0; padding: 0;
	box-sizing: border-box;
	font-family: Tahoma, Arial;
}

a {
	text-decoration: none; 
}
.header {
	height: 80vh; width: 100vw;
	background: url('images/banner.jpg');
	background-attachment: fixed;
	background-size: cover;
}
.logo {
	float: left;
	margin: 5% 5%;
	letter-spacing: 3px;
	font-size: 150%;
	font-weight: 900;
}
.logo a, .nav-bar a {
	text-decoration: none;
	padding: 10px;
	color: #E0E4CC;
}
.nav-bar a:not(:last-child) {
	border-right: 3px solid #bdc3c7;
}
.nav-bar {
	font-size: 120%;
}
.nav-bar a:hover {
	color: #FEE7F4;
	background: rgba(255, 255, 247, .3);
	border-radius: 5%;
	transition: 0.7s;
}
.nav-bar li {
	display: inline-block;
	float: right;
	margin: 5% 10% 0% 0%;
}
.welcome {
	color: #E0E4CC;
	margin-top: 50%;
}